html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: 1000px;
	font-family: Open Sans;
}

button {
	background-color: #cde7ff !important;
	border: none;
	color: #006bce;
	font-size: 16px;
	font-weight: 600;
	padding: 8px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='number'],
input[type='date'] {
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	font-size: 16px;
	color: rgb(93, 91, 91);
}

input[type='text']:not(:focus),
input[type='password']:not(:focus),
input[type='email']:not(:focus),
input[type='number']:not(:focus),
input[type='date']:not(:focus) {
	border: 2px solid rgba(48, 47, 47, 0.8);
}

input[type='file'] {
	color: rgb(93, 91, 91);
	font-size: 14px;
	display: block;
	border: none;
	outline: none;
	position: relative;
	left: 5.5rem;
	padding: 5px;
}

label {
	font-size: 15px;
	color: rgba(48, 47, 47, 0.8);
	font-weight: 400;
}

.img-logo {
	width: 150px;
	height: 150px;
	object-position: center;
	object-fit: contain;
	margin-top: 10px;
}

.circle-content {
	width: 55px;
	height: 55px;
	border-radius: 50%;
	/* background-color: #cde7ff; */
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0.5px solid #006bce;
}

.circle-root {
	display: flex;
	justify-content: start;
	align-items: start;
	flex-direction: column;
}

.circle-root span {
	font-size: 13px;
	color: #006bce;
	font-weight: 600;
	word-break: break-all;
	overflow-x: hidden;
}

.circle {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.circle .circle-text {
	color: #006bce;
	font-size: 28px;
	text-align: center;
	font-weight: bold;
}

.circle .circle-line {
	background-color: #006bce;
	width: 140px;
	height: 3px;
	z-index: -99;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}

.line-title {
	background-color: #cde7ff;
	height: 28px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 21px;
	padding: 8px;
	font-weight: 600;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	margin-top: 5rem;
}

.line-text {
	font-size: 16px;
	color: rgba(48, 47, 47, 0.9);
	font-weight: 400;
}
